* {
  font-family: monospace;
}

.notification {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 12px 16px;
  margin: 20px;

  background: mediumblue;
  color: white;
  font-weight: bold;
}
.notification--error {
  background: crimson;
}
.notification--warning {
  background: goldenrod;
}
.notification--success { 
  background: seagreen;
}